tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #D6EEEE;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
